# Environment
.env
.env.local
.env.dev
.env.prod

# Python
**/__pycache__/
**/*.pyc
**/*.pyo

backend/.venv
backend/.build-stamp
backend/.ruff_cache
backend/ollama/client/
backend/*.db
backend/.telegram_sessions

# Frontend
frontend/node_modules
frontend/dist
frontend/src/generated

# Nx
.nx/cache
.nx/installation
.nx/workspace-data
node_modules
etc/.telegram_sessions/alpha_userbot.session
etc/alpha-service.yaml
log/
etc/telegram_messages.db

