# Environment
.env
.env.local
.env.dev
.env.prod

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
backend/.venv
backend/.ruff_cache
backend/ollama_client

# Databases
backend/*.db

# Telegram
backend/.telegram_sessions

# Frontend
frontend/node_modules
frontend/dist
frontend/src/generated

# Nx
.nx/cache
.nx/installation
.nx/workspace-data
node_modules
